ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 15px;
  }

  li {
    display: inline;
  }

  input[type=submit] {
    margin: 11px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #f4f4f4;
    border-radius: 4px;
    border: #f4f4f4;
    height: 34px;
}

p {
    font-family: arial, sans-serif;
    font-size: 15px;
    text-align: center;
}

img {
    max-width: 272px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
}

form {
    margin-top: 20px;
    text-align: center;
}

input[type=text] {
    border-radius: 24px;
    padding-left: 15px;
    border: 1px solid #dfe1e5;
    width: 454px;
    height: 34px;
    margin: 11px;
}

